
.GradientButton {
    color: #fff;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 50px;
    padding: 15px 25px;
    cursor: pointer;
  }
  .GradientButton a{
    text-decoration: none;
    color: white;
  }
  
  .GradientButton:hover {
    background-color: #e65500;
    transform: scale(1.05);
    transition: 0.3s;
  }
  @media (max-width: 768px){
    .GradientButton{
      padding: 15px 25px;
      border-radius: 50px;
    } 
  }